<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <title>Html-Webpack-Template</title>
  </head>
  <body data-template="index">
    <header class="header">
			<div class="header__container">
				<a href="#" class="header__logo logo">Bean Scene</a>
				<div class="header__menu menu">
					<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item"><a href="#" class="menu__link">Home</a></li>
							<li class="menu__item"><a href="#" class="menu__link">Menu</a></li>
							<li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
							<li class="menu__item"><a href="#" class="menu__link">Contact Us</a></li>
						</ul>
					</nav>
				</div>
				<div class="header__actions" data-da=".menu__body, 479.98, last">
					<button class="header__sign header__signin" type="button" aria-label="Sign In">Sign In</button>
					<button class="header__sign header__signup button" type="button" aria-label="Sing Up"><span>Sing Up</span></button>
				</div>
				<button type="button" class="menu__icon icon-menu" aria-label="Menu"><span></span></button>
			</div>
		</header>
  </body>
</html>