<!DOCTYPE html>
<html lang="tr">
  <body data-template="index">
	<div class="header-custom-container">
		<header>
			<div class="row">
				<div class="col-lg-4">
					<a href="#">Bean Coffe</a>
				</div>
				<div class="col-lg-4">
					<ul class="header_list d-flex gap-5">
						<li class="header_list-item"><a href="#">Home</a></li>
						<li class="header_list-item"><a href="#">Menu</a></li>
						<li class="header_list-item"><a href="#">About Us</a></li>
						<li class="header_list-item"><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-lg-4 text-end">
					<div class="Sing d-flex gap-5">
						<a href="#" class="Sing_in">Sing In</a>
						
						<a href="#" class="Sing_up">Sing Up</a>
					</div>
				</div>
			</div>
		</header>
	</div>
  </body>
</html>