html {
    -webkit-font-smoothing: antialiased;
}
.header-custom-container{
    padding: 20px 180px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
@media (max-width:1366px) { }
@include media-breakpoint-down(lg)  { }
@include media-breakpoint-down(md)  { }
@include media-breakpoint-down(sm)  { }
@include media-breakpoint-down(def) { }